/* == IE == */
@import url(../fonts/bebas/stylesheet.css);
@import url(../fonts/digitalStrip/stylesheet.css);
a {
  text-decoration: none;
  color: #4e7efc;
  border-bottom-color: #e4e4e4;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body {
  font-family: Arial;
  color: #333333;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "bebas_neueregular";
  font-weight: normal;
}

.dialog-text {
  font-family: "bebas_neueregular";
  font-size: 1em;
  letter-spacing: 0.05em;
  word-spacing: -0.05em;
  text-shadow: -3px -3px 0 white, -3px -2px 0 white, -3px -1px 0 white, -3px 0px 0 white, -3px 1px 0 white, -3px 2px 0 white, -3px 3px 0 white, -2px -3px 0 white, -2px -2px 0 white, -2px -1px 0 white, -2px 0px 0 white, -2px 1px 0 white, -2px 2px 0 white, -2px 3px 0 white, -1px -3px 0 white, -1px -2px 0 white, -1px -1px 0 white, -1px 0px 0 white, -1px 1px 0 white, -1px 2px 0 white, -1px 3px 0 white, 0px -3px 0 white, 0px -2px 0 white, 0px -1px 0 white, 0px 0px 0 white, 0px 1px 0 white, 0px 2px 0 white, 0px 3px 0 white, 1px -3px 0 white, 1px -2px 0 white, 1px -1px 0 white, 1px 0px 0 white, 1px 1px 0 white, 1px 2px 0 white, 1px 3px 0 white, 2px -3px 0 white, 2px -2px 0 white, 2px -1px 0 white, 2px 0px 0 white, 2px 1px 0 white, 2px 2px 0 white, 2px 3px 0 white, 3px -3px 0 white, 3px -2px 0 white, 3px -1px 0 white, 3px 0px 0 white, 3px 1px 0 white, 3px 2px 0 white, 3px 3px 0 white;
  -moz-animation: dialog 4s linear infinite;
  -webkit-animation: dialog 4s linear infinite;
  animation: dialog 4s linear infinite;
  -moz-animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.dialog-text .sz-1 {
  font-size: 0.8em;
  margin-right: -0.1em;
}
.dialog-text .sz-2 {
  font-size: 0.9em;
  margin-right: -0.1em;
}
.dialog-text .sz-3 {
  font-size: 1em;
  margin-right: -0.1em;
}

.dialog-text--sub {
  font-size: 0.8em;
}

.cursor-in-out:after {
  visibility: hidden;
}

.active .cursor-in-out:after {
  visibility: visible;
  content: "";
  width: 1px;
  height: 100%;
  font-size: 0.7em;
  vertical-align: baseline;
  position: relative;
  top: -0.15em;
  left: 10px;
  border-right: 2px solid #333;
  -moz-animation: 1s show-hide infinite step-end;
  -webkit-animation: 1s show-hide infinite step-end;
  animation: 1s show-hide infinite step-end;
}

@-webkit-keyframes show-hide {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes dialog {
  0% {
    -moz-transform: scale(none);
    -ms-transform: scale(none);
    -webkit-transform: scale(none);
    transform: scale(none);
  }
  50% {
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -moz-transform: scale(none);
    -ms-transform: scale(none);
    -webkit-transform: scale(none);
    transform: scale(none);
  }
}
@-webkit-keyframes dialog {
  0% {
    -moz-transform: scale(none);
    -ms-transform: scale(none);
    -webkit-transform: scale(none);
    transform: scale(none);
  }
  50% {
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -moz-transform: scale(none);
    -ms-transform: scale(none);
    -webkit-transform: scale(none);
    transform: scale(none);
  }
}
@media screen and (device-aspect-ratio: 40 / 71) {
  .scene {
    height: 500px;
  }
}
/**
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .scene {
    height: 1024px;
  }
}
/**
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .scene {
    height: 768px;
  }
}
.scene {
  background-image: url(../images/home.png);
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  height: 100vh;
  min-height: 500px;
}
.scene__container {
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .scene__container {
    width: 1155px;
  }
}
@media (max-width: 1199px) {
  .scene__container {
    width: 955px;
  }
}
@media (max-width: 991px) {
  .scene__container {
    width: 735px;
  }
}
@media (max-width: 767px) {
  .scene__container {
    width: 100%;
  }
}
.scene__title {
  font-family: "bebas_neueregular";
  font-size: 125px;
  letter-spacing: 0.1vw;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0.5em;
  margin-bottom: 10px;
}
.scene__sub-title {
  font-size: 22px;
}
.scene__action {
  position: absolute;
  height: 80%;
  width: 100%;
  bottom: 0;
}
.scene__region-bear {
  position: absolute;
  bottom: 50px;
  left: 10%;
}
.scene__region-developer {
  position: absolute;
  bottom: 0;
  z-index: 20;
  right: 5%;
}
.scene__region-modes {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 100;
}
@media (max-width: 991px) {
  .scene {
    min-height: 0;
  }
  .scene__title {
    font-size: 10vw;
  }
  .scene__action {
    height: 420px;
  }
  .scene__region-bear {
    bottom: 110px;
  }
}
@media (max-width: 767px) {
  .scene {
    margin-bottom: 30px;
  }
  .scene__action {
    height: 300px;
  }
  .scene__region-bear {
    bottom: 30px;
    left: 5%;
  }
  .scene__sub-title {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .scene__region-bear {
    left: 0;
    bottom: 90px;
  }
  .scene__developer {
    right: 0;
  }
  .scene__sub-title {
    font-size: 16px;
  }
}

.bear {
  width: 194px;
  height: 194px;
}
.bear.hover-effect .bear__messages-container {
  opacity: 1;
  left: 0;
  top: 0;
}
.bear__border {
  position: relative;
  width: 190px;
  height: 190px;
  border: 1px solid #ffffff;
}
.bear__point {
  width: 7px;
  height: 7px;
  position: absolute;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.bear__point--top-left {
  position: absolute;
  top: -4px;
  left: -4px;
  cursor: nwse-resize;
}
.bear__point--top-right {
  top: -4px;
  right: -4px;
  cursor: nesw-resize;
}
.bear__point--bottom-left {
  bottom: -4px;
  left: -4px;
  cursor: nesw-resize;
}
.bear__point--bottom-right {
  bottom: -4px;
  right: -4px;
  cursor: nwse-resize;
}
.bear__image {
  width: 100%;
  height: 100%;
  background-image: url(../images/bear.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
.bear__messages {
  width: 110px;
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 15%;
  line-height: 1;
  -moz-transform: rotate(354deg) scale(1) skew(1deg) translate(100%, -50%);
  -ms-transform: rotate(354deg) scale(1) skew(1deg) translate(100%, -50%);
  -webkit-transform: rotate(354deg) scale(1) skew(1deg) translate(100%, -50%);
  transform: rotate(354deg) scale(1) skew(1deg) translate(100%, -50%);
}
.bear__messages-container {
  position: relative;
  left: -50%;
  top: -50%;
  opacity: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.bear__message--before {
  text-align: right;
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
.bear__message--after {
  padding-left: 25px;
  -moz-transform: rotate(356deg);
  -ms-transform: rotate(356deg);
  -webkit-transform: rotate(356deg);
  transform: rotate(356deg);
}
@media (max-width: 991px) {
  .bear {
    width: 194px;
    height: 194px;
  }
  .bear__border {
    width: 190px;
    height: 190px;
  }
}
@media (max-width: 767px) {
  .bear {
    width: 150px;
    height: 150px;
  }
  .bear__border {
    width: 146px;
    height: 146px;
    border: none;
  }
  .bear__point {
    display: none;
  }
  .bear__message {
    font-size: 20px;
    width: 80px;
  }
}
@media (max-width: 479px) {
  .bear:hover .bear__messages {
    opacity: 0;
  }
}

.no-touchevents .bear:hover .bear__messages-container, .no-touchevents .bear:active .bear__messages-container, .no-touchevents .bear:focus .bear__messages-container {
  opacity: 1;
  left: 0;
  top: 0;
}

.modes {
  display: inline-block;
}
.modes__list {
  background: #ffffff;
  display: inline-block;
  border: 1px solid #4e7efc;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.modes__item {
  display: inline-block;
  float: left;
  border-left: 1px solid #e3e3e3;
  cursor: pointer;
}
.modes__item:first-child {
  border-left: none;
}
.modes__item.active {
  background: #4e7efc;
}
.modes__item.active .modes__link {
  color: #ffffff;
}
.modes__link {
  font-family: Arial;
  color: #4e7efc;
  font-size: 18px;
  padding: 12px;
  display: inline-block;
}
@media (max-width: 1199px) {
  .modes__item {
    display: inline-block;
    float: left;
  }
  .modes__link {
    font-size: 14px;
    padding: 8px 4px;
  }
}

.developer {
  width: 350px;
  height: 460px;
}
.developer__mod {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
.developer__messages {
  position: absolute;
  left: 30%;
  top: 15%;
  -moz-transform: rotate(4deg) translateX(-100%);
  -ms-transform: rotate(4deg) translateX(-100%);
  -webkit-transform: rotate(4deg) translateX(-100%);
  transform: rotate(4deg) translateX(-100%);
}
.developer__message {
  width: 200px;
  font-size: 30px;
  display: none;
  text-align: center;
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
@media (max-width: 991px) {
  .developer {
    width: 350px;
    height: 460px;
  }
}
@media (max-width: 767px) {
  .developer {
    width: 245px;
    height: 310px;
  }
  .developer__message {
    width: 140px;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .developer {
    width: 285px;
    height: 388px;
  }
  .developer__messages {
    top: 0;
    left: 55%;
  }
  .developer__message {
    width: 140px;
    font-size: 18px;
  }
}

.section {
  padding-top: 90px;
  clear: both;
}
.section__container {
  position: relative;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .section__container {
    width: 1155px;
  }
}
@media (max-width: 1199px) {
  .section__container {
    width: 955px;
  }
}
@media (max-width: 991px) {
  .section__container {
    width: 735px;
  }
}
@media (max-width: 767px) {
  .section__container {
    width: 100%;
  }
}
.section__title {
  letter-spacing: 0.05em;
  font-size: 60px;
  text-align: center;
  margin: 0 0 0.6em;
  display: none;
}
.section__title.cursor-in-out:after {
  font-size: 0.8em;
  vertical-align: baseline;
  position: relative;
  top: -0.15em;
  left: 10px;
  border-right: 2px solid #333;
}
@media (max-width: 767px) {
  .section {
    padding-top: 10px;
  }
  .section__title {
    display: block;
    font-size: 35px;
  }
}

.section--even {
  background: transparent;
}

.section--odd {
  background: rgba(64, 117, 255, 0.37);
}

.section--contacts {
  border-top: 1px solid #e1e1e1;
  padding-top: 0;
}
.section--contacts .section__title {
  display: none;
}

.tools {
  font-size: 0;
}
.lt-ie8 .tools {
  zoom: 1;
}
.tools:before, .tools:after {
  display: table;
  content: " ";
}
.tools:after {
  clear: both;
}
.tools__item {
  width: 33%;
  display: inline-block;
  margin-bottom: 40px;
  text-align: center;
}
.tools__item img {
  max-width: 100%;
}
.tools__container {
  width: 70%;
  float: right;
  margin-top: 30px;
  min-height: 310px;
}
.tools__im {
  display: inline-block;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.tools__im img {
  max-width: 100%;
  max-height: 100%;
}
.tools__message {
  font-size: 14px;
  width: 200px;
  height: 150px;
  background: url(../images/text-right.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0;
  opacity: 0;
  left: 100%;
  -moz-transform: translate(-60%, -35%);
  -ms-transform: translate(-60%, -35%);
  -webkit-transform: translate(-60%, -35%);
  transform: translate(-60%, -35%);
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-family: "digitalStrip";
}
.tools__message .text {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 17% 10% 15% 25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .tools {
    padding-bottom: 10px;
  }
  .tools__container {
    margin-top: 0;
    min-height: 0;
    width: 100%;
  }
  .tools__im {
    display: none;
  }
  .tools__item {
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
}

.tools--right .tools__container {
  float: left;
}
.tools--right .tools__im {
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
}
.tools--right .tools__message {
  background: url(../images/text-left.png) no-repeat center;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  top: 0;
  left: 0;
}
.tools--right .tools__message .text {
  padding: 17% 25% 15% 10%;
}

.section.active .tools__message {
  opacity: 1;
}

.contacts__title {
  letter-spacing: 0.05em;
  font-size: 60px;
  margin: 0 0 4px 0;
}
.contacts__info {
  line-height: 1.8;
  margin-bottom: 18px;
}
.contacts__form {
  max-width: 340px;
}
.contacts__form-item {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .contacts__title {
    font-size: 35px;
  }
}

.region-bottom {
  padding: 60px 0;
}
.lt-ie8 .region-bottom__block {
  zoom: 1;
}
.region-bottom__block:before, .region-bottom__block:after {
  display: table;
  content: " ";
}
.region-bottom__block:after {
  clear: both;
}
.region-bottom__block .contacts {
  width: 40%;
  float: left;
}
.region-bottom__block .social {
  margin-top: 18px;
  width: 55%;
  float: left;
}
@media (max-width: 767px) {
  .region-bottom {
    padding-top: 30px;
  }
  .region-bottom .contacts {
    width: 100%;
    margin-bottom: 30px;
  }
  .region-bottom .social {
    width: 100%;
    margin: 0;
  }
}

.social__title {
  font-size: 60px;
  letter-spacing: 0.05em;
  margin: 0 0 20px;
}
.social__item {
  height: 48px;
  margin-bottom: 6px;
}
.social__link {
  font-family: "digitalStrip";
  height: 44px;
  line-height: 44px;
  background: #4C75A3;
  border-radius: 22px;
  padding-left: 55px;
  padding-right: 15px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  position: relative;
}
.social__link--vk {
  background: #4C75A3;
}
.social__link--gh {
  background: #4380D0;
}
.social__link--sk {
  background: #00AFF0;
}
.social__link--email {
  background: #d14836;
}
.social__item {
  position: relative;
}
.social__icon {
  position: absolute;
  top: -3px;
  left: -2px;
  z-index: 1;
  width: 44px;
  height: 44px;
  background: #4C75A3;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.social__icon--vk {
  background-color: #4C75A3;
  background-image: url(../images/social-icon/icon-vk.png);
}
.social__icon--gh {
  background-color: #ffffff;
  background-image: url(../images/social-icon/icon-github.png);
  background-size: contain;
}
.social__icon--sk {
  background-color: #00AFF0;
  background-image: url(../images/social-icon/icon-skype.png);
}
.social__icon--email {
  background-color: #d14836;
  background-image: url(../images/social-icon/icon-email.png);
}
@media (max-width: 767px) {
  .social__title {
    font-size: 35px;
  }
}

/* Add New Blocks CSS Above */
