$nav_default_color: #b1b4bb;
$nav_primary_color: #ffffff;

$content_text_color: #ffffff;
$content_overlay_color: rgba(255, 255, 255, 0);

$form_border-color: #ffffff;
$form_border-width: 5px;

$input_border_color: #ffffff;
$input_text_color: #ffffff;
$input_background_color: transparent;

$form_text_color: #ffffff;

$button_border_radius: 4px;
$button_default_border_color: transparent;
$button_default_background_color: transparent;
$button_default_background_color_hover: transparent;
$button_default_text_color: #ffffff;

$button_primary_border_color: #ffffff;
$button_primary_background_color: #ffffff;
$button_primary_background_color_hover: #ffffff;
$button_primary_text_color: #3e4756;