
@font-face {
    font-family: 'digitalStrip';
    src: url('../digitalStrip/digitalStrip.ttf');
         url('../digitalStrip/digitalStrip.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}