<div class="page-intro">
  <div class="page-intro__content">
    <div class="page-intro__content-inner">
      <div class="page-intro__title">
          {{title}}</br>
      </div>
      <div class="page-intro__sub-title">
        {{sub_title}}
      </div>
    </div>
  </div>
</div>